.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 10px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 24px;
  }
  .page__box {
    min-height: 50px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 30px; /* decrease the font size */
  }
  
  
  &__content {
    min-height: calc(110vh - 178px);
    border-radius: 10px;
    margin-top: 1rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .search-box {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 300px;
    height: 40px;
    margin: 120px auto
    
  }
  
  .search-field {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-size: 20px;
    border: 2px solid #1e293b;
    text-align: center;
  }
  
  .mat-form-field-infix {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .mat-form-field-suffix {
    margin-right: 10px;
  }
  
  mat-icon.search-icon,
  mat-icon.add-icon {
    color: #1e293b;
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
  
  .container {
    position: relative;
  }
  
  .search {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  .add-icon {
    position: absolute;
    top: 10px;
    right: 300px;
    font-size: 15px;
    color: #1e293b;
  }
  .table-container {
    text-align: center;
  }
  
  .demo-table {
    width: 80%;
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 900px;
    border-collapse: collapse;
    font-size: 16px;
    align-items: center;
    left: 0px;
  }
  
  .mat-header-row {
    background-color: #F5F5F5;
    font-weight: bold;
  }
  
  .mat-row:hover {
    background-color: #ECECEC;
  }
  
  .mat-cell, .mat-header-cell {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  // .demo-button-container {
  //   padding-bottom: 16px;
  // }
  
  // .demo-button + .demo-button {
  //   margin-left: 8px;
  // }
    
  
}

